html,
body,
* {
  margin: 0;
  font-family: 'KakaoBigSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'KakaoBigSans', 'KakaoBigSans', 'KakaoBigSans';
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
